

name: CI - Build & Test

on:
  push:
    branches: [main, staging, dev]
env:
  DOCKER_REPO: pptloc/aspnetapp
  VERSION: 0.1.0

jobs:
  setup-env:
    runs-on: ubuntu-latest
    outputs:
      ENV_NAME: ${{ steps.vars.outputs.env_name }}
      IMAGE_TAG: ${{ steps.vars.outputs.image_tag }}
    steps:
      - name: Determine Environment and Image Tag
        id: vars
        run: |
          BRANCH_NAME="${GITHUB_REF##*/}"
          if [[ "$BRANCH_NAME" == "main" ]]; then
            ENV_NAME="production"; SUFFIX="p"
          elif [[ "$BRANCH_NAME" == "staging" ]]; then
            ENV_NAME="staging"; SUFFIX="s"
          elif [[ "$BRANCH_NAME" == "dev" ]]; then
            ENV_NAME="development"; SUFFIX="d"
          else
            echo "::error::âŒ Unsupported branch: $BRANCH_NAME"
            exit 1
          fi
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-8)
          IMAGE_TAG="${VERSION}-${BRANCH_NAME}-${SUFFIX}-${SHORT_SHA}"
          echo "env_name=$ENV_NAME" >> $GITHUB_OUTPUT
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT

  build-and-test:
    needs: setup-env
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET 9 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore ./aspnet/aspnetapp/aspnetapp.sln

      - name: Build solution
        run: dotnet build ./aspnet/aspnetapp/aspnetapp.sln --no-restore

      - name: Run tests
        run: dotnet test ./aspnet/aspnetapp/aspnetapp.sln --no-build
